<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="views/install/css/don.css">
    <link rel="stylesheet" href="views/install/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="views/install/css/main.css">
    <title>Home page</title>
</head>
<body>
<!-- TODO: header -->
<header>
    <div class="canvas">
        <div class="range">
            <div class="column-l-12">
                <div class="">
                    <div class="logo">
                        <a href="/">
                            <span class="abr">don</span>
                            <span>e-Commerce</span>
                        </a>
                    </div>
                    <div class="nav-links">
                        <a href="#">sign in</a>
                        <a href="#">language</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- TODO: content -->
<section>
    <div class="canvas">
        <div class="range">
            <div class="column-m-4 column-l-3">
                <div class="sb-menu">
                    <div class="top-header">menu</div>
                    <ul>
                        <li><a href="#">laptops</a></li>
                        <li><a href="#">cellphones</a></li>
                        <li><a href="#">tablets</a></li>
                        <li><a href="#">monitors</a></li>
                    </ul>
                </div>
            </div>
            <div class="column-m-4 column-l-6">
                <div class="content"></div>
                <h1 class="top-header">Header</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at blanditiis, commodi enim expedita
                    labore magnam modi mollitia omnis porro praesentium quas, quasi quia repellat rerum sed sit suscipit
                    ut?</p>
            </div>
            <div class="column-m-4 column-l-3">
                <div class="top-header">commercial</div>
            </div>
        </div>
    </div>
</section>
<!-- TODO: footer-->
<footer>
    <div class="canvas">
        <div class="range">
            <div class="column-12">
                <div class="footer">
                    copyright © <span class="">DON</span> CMS
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>