body {
    color: #969696;
    background: #fff;
}

.separate-line {
    border-bottom: 1px solid #e6e6e6;
}

.logo {
    padding: 20px 0;
    font-size: 20px;
    display: inline-block;
    margin: 0 30px 0 0;
}

.logo > a {
    color: #444444;
    text-decoration: none;
}

.abr {
    text-transform: uppercase;
    color: #00b7ff;
}

.nav-container {

}

.nav-links {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    float: right;
}

.nav-right-item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 25px 10px;
    color: #00b7ff;
    text-decoration: none;
}

.nav-right-item:hover {
    text-decoration: none;
}

.nav-slider-btn {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #fff;
    float: right;
}

.nav-slider-btn:hover {
    background: #fff;
    color: #222222;
}

.nav-list-container {
    display: none;
    min-width: 200px;
    position: absolute;
    right: 0;
}

.drop-down-menu {
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #eceaea;
    text-align: right;
    text-transform: lowercase;
    top: -10px;
    list-style-type: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(113, 113, 113, 0.5);
    padding: 10px;
}

.drop-down-menu > li {
    font-size: 16px;
    padding: 15px;
    display: inline-block;
}

.drop-down-menu > li > a {
    text-decoration: none;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-tb-30 {
    margin: 30px 0;
}

.top-header {
    text-transform: uppercase;
    margin: 40px 0 25px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #79c3f7;
    line-height: normal;
}

.sb-menu {
    color: #969696;
    text-transform: uppercase;
}

.sb-menu > ul {
    list-style: none;
}

.sb-menu ul > li > a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    text-decoration: none;
    color: #00b7ff;
    font-size: 12px;
}

.sb-menu ul > li > a:hover {
    color: #00a4e0;
}

.content {
    color: #969696;
    min-height: 800px;
}

.form-modal {
    padding: 40px 0;
}

.form-modal form > h4 {
    text-transform: uppercase;
    font-weight: 300;
    color: #ccc;
}

.form-modal form > input {
    margin: 20px 0;
}

.footer {
    border-top: 1px solid #79c3f7;
    padding: 20px 0 15px;
    text-align: center;
}

.product-item {

}

.text-low {
    text-transform: lowercase;
}

.m-s-20 {
    margin: 0 20px;
}

